name: Generate ASCII Artwork

on: push

jobs:
    first_job:
        name: Generate ASCII Artwork
        runs-on: ubuntu-latest
        steps:
        - name: Chekout Repo
          uses: actions/checkout@v4
        
        - name: Install cowsay program
          run: sudo apt-get install -y cowsay

        - name: Execute cowsay command
          run: cowsay -f dragon "Run for a cover, I am a Dragon......RAWR..." >> dragon.txt

        - name: Test file exists
          run: grep -i "dragon" dragon.txt

        - name: Read file
          run: cat dragon.txt

        - name: List files
          run: ls -lrth