name: Generate ASCII Artwork

on: push

jobs:
    first_job:
        name: Generate ASCII Artwork
        runs-on: ubuntu-latest
        steps:
        - name: Chekout Repo
          uses: actions/checkout@v4
        
        - name: Run ascii-script
          run: |
            chmod +x asci-script.sh
            ./asci-script.sh