name: Generate ASCII Artwork

on: push

jobs:
    first_job:
        name: Generate ASCII Artwork
        runs-on: ubuntu-latest
        steps:
        - name: Chekout Repo
          uses: actions/checkout@v4
        
        - name: Set Proper Persmission for script
          run: chmod +x asci-script.sh
          
        - name: Run ascii-script
          run: ./asci-script.sh